ol.tree
{
	padding: 0 0 0 30px;
	width: 300px;
}
	ol.tree li 
	{ 
		position: relative; 
		margin-left: -15px;
		list-style: none;
	}
	ol.tree li.file
	{
		margin-left: -1px !important;
	}
		ol.tree li.file a
		{
			background: url("../img/document.png") 0 0 no-repeat;
			color: #fff;
			padding-left: 21px;
			text-decoration: none;
			display: block;
		}
		ol.tree li.file a[data-filename *= '.pdf']	{ background: url("../img/document.png") 0 0 no-repeat; }
		ol.tree li.file a[data-filename *= '.html']	{ background: url("../img/document.png") 0 0 no-repeat; }
		ol.tree li.file a[data-filename $= '.css']	{ background: url("../img/document.png") 0 0 no-repeat; }
		ol.tree li.file a[data-filename $= '.js']		{ background: url("../img/document.png") 0 0 no-repeat; }
	ol.tree li input
	{
		position: absolute;
		left: 0;
		margin-left: 0;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
		height: 1em;
		width: 1em;
		top: 0;
	}
		ol.tree li input + ol
		{
			background: url("../img/toggle-small-expand.png") 40px 0 no-repeat;
			margin: -1.338em 0 0 -44px;
			height: 1em;
		}
		ol.tree li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
	
	ol.tree li label.dir
	{
		background: url("../img/folder-horizontal.png") 15px 1px no-repeat;
	}
	ol.tree li label.drive
	{
		background: url("../img/drive-horizontal.png") 15px 1px no-repeat;
	}
	
	ol.tree li label.size
	{
		  min-width: 150px;
	}
	ol.tree li label
	{
		white-space: nowrap;
		cursor: pointer;
		display: table-cell;
		padding-left: 37px;
	}

	ol.tree li input:checked + ol
	{
		background: url("../img/toggle-small.png") 40px 5px no-repeat;
		margin: -1.7em 0 0 -44px; /* 20px */
		padding: 1.563em 0 0 80px;
		height: auto;
	}
		ol.tree li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
		ol.tree li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }